<main>
   {{#with navigation}}
    <div class="row">
        <section class="col-4">
        {{#each links}}
            <a href={{href}} class="btn btn-link">{{text}}</a>
        {{/each}}
        {{#with button}}
        <button class="btn btn-primary">
            <a href={{href}} class="text-light">{{text}}</a>
        </button>
        {{/with}}
        </section>
    </div>
    {{/with}}

    <br>
    <hr>
    <br>
    
    {{#with header}}
    <section>
        <h1>{{title}}</h1>
        <br>
        <p>{{description}}</p>
        <br>
        {{#with button}}
        <button class="btn btn-primary">
            <a href={{link}} class="text-light">{{text}}</a>
        </button>
        {{/with}}
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with city}}
    <section>
        <h2>{{title}}</h2>
        <div class="row">
            
                {{#each cards}}
                <div class="col-5">
                    <div class="card">
                    {{#with picture}}
                    <img class="card-img-top" 
                    src={{src}} alt={{alt}}>
                    {{/with}}

                    <div class="card-body">
                        <h5 class="card-title">
                        {{title}}
                        </h5>
                        <p>{{description}}</p>
                        
                        {{#with button}}
                        <a class="btn btn-primary" href={{href}}>
                            {{text}}
                        </a>
                        {{/with}} 
                    </div>
                </div>
                </div>
                {{/each}}            
        </div>
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with winner}}
    <section>
        <h2>{{title}}</h2>
        {{#with table}}
        <table class="table">
            <thead>
                <tr>
                    {{#each head}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
                {{#each user}}
                <tr>
                    <th>
                        {{place}}
                    </th>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{surname}}
                    </td>
                    <td>
                        {{nickname}}
                    </td>
                </tr>
                {{/each}}
            </thead>
        </table>
        {{/with}}
    </section>
    {{/with}}

    <br>
    <hr>
    <br>

    {{#with gallery}}
    <section>
        
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <section class="col-4">
            <div class="card">
            
            
            
            <div class="card-header">{{name}}</div>
            
                {{#each items}}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this}}
                    </li> 
                </ul>
                {{/each}}
            </div>
            </section>
        {{/each}}
        </div>
    </section>
    {{/with}}

    </div>
    
    
    
</main>